body {
  margin: 0;
  background: #f4f4f4;
}

.gradient-text {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  background: linear-gradient(45deg, #00b09b, #96c93d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #00b09b;
  display: table;
  margin-top: -20px;
  margin-left: 30px;
  transition: all 200ms ease-in-out;
}

.gradient-text:hover {
  transform: translateY(-2px);
}

.header {
  background: white;
  height: 30px;
  box-shadow: grey 0 1px 5px;

  display: flex;
  justify-content: space-between;

  color: white;
  font-size: 35px;

  padding: 25px;

  border-bottom: #948e90 3px solid;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 580px;
}

form {
  width: 100%;
}

.navbar {
  display: inherit;
  flex-direction: column;
  width: 30%;
  border-right: grey solid 2px;
}

.header-tabs {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 25px;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  padding: 1em;
  font-size: 25px;
  font-family: 'Merriweather Sans', sans-serif;
  transition: all 200ms ease-in;
}

.navbar a:hover {
  cursor: pointer;
  transform: translateY(1px);
  background-color: rgba(214, 248, 255, 0.3);
}

.content {
  display: inherit;
  width: 70%;
  flex-direction: column;

  background-color: #fafcfc;
  padding: 30px;
}

.card {
  background: white;
  margin: 5px;
  border-radius: 5px;

  position: relative;

  border: lighgray 1px solid;
  box-shadow: gray 3px 3px 5px;

  font-size: 20px;
  font-family: 'Merriweather Sans', sans-serif;

  height: 400px;
  width: 300px;

  overflow: hidden;

  color: black;

  transition: all ease-in-out 200ms;
}

.card-doubled {
  height: 400px;
  width: 610px;
}



.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 930px;
}

hr {
  border: 0;
  border-top: 1px solid #a9a9a9;
    /*Rest of stuff here*/
}

.card h3 {
  margin: 25px;
  position: absolute;
  color: white;
  font-size: 24px;
  line-height: 1em;

  text-shadow: black 2px 2px 4px;
}

.card img {
  width: 320px;
  height: 270px;
  margin-left: -15px;
  object-fit: cover;
}

.card-doubled img {
    width: 630px;
    height: 440px;
}

.card .desc {
  margin: 10px 20px;
  font-size: 15px;
  height: 60px;

  overflow: hidden;
}

.card-doubled .desc {
  position: absolute;
  bottom: 20px;
  height: 94px;
  right: 10px;
  color: white;
  text-align: right;
  padding: 10px;
  border-radius: 3px;
  background-color:rgba(0, 0, 0, 0.5);
  font-size: 24px;

}

.card .price {
  float: right;
  margin-right: 20px;
  font-size: 20px;

  color: white;

  padding: 5px;
  border-radius: 5px;
  background: #000;

}


.card-doubled .price {
  position: absolute;
  top: 30px;
  right: 20px;
  color: white;

  text-shadow: black 2px 2px 4px;
}


.big-card {
  background: white;
  margin: 30px;
  border-radius: 10px;
    padding-top: 20px;

  display: flex;
  flex-direction: column;

  line-height: 1em;

  border: lighgray 1px solid;
  box-shadow: gray 3px 3px 5px;

  font-size: 24px;
  font-family: 'Alegreya', serif;
  width: 80%;

  transition: all ease-in-out 200ms;
}

.big-card img {
    width: 800px;
    height: 500px;
    object-fit: cover;
}

.big-card .desc {
    margin: 30px 0;
}

.footer {
  background: linear-gradient(45deg, #134E5E, #71B280);
  height: 70px;

  color: white;
  font-size: 35px;
  font-family: 'Alegreya', serif;
  padding: 1em;
}

h3 {
    margin-top: 6px;
}

a {
    text-decoration: none;
}

a:visited {
    color: initial;
    text-decoration: none;
}

.card:hover {
    transform: translateY(-4px);
}

label {
    font-family: 'Merriweather Sans', sans-serif;
    margin-right: 30px;
}

#search-field {
    height: 30px;
    width: 80%;

    padding: 1px 1px 1px 20px;

    margin: 20px 150px;

    font-family: 'Merriweather Sans', sans-serif;

}

form {
    width: 100%;
    overflow: hidden;
}

.login-form {
    width: 40%;
}

.text-input {
    background: #f4f4f4;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    margin: 20px;
    width: 85%;

    box-shadow: lightgray 1px 1px 3px inset;
}

.submit-btn {
    background: linear-gradient(45deg, #00b09b, #96c93d);
    border: none;
    color: white;
    font-size: 25px;

    cursor: pointer;

    padding: 20px 0 20px 0;
    width: 100%;
    margin-top: 20px;
    border-radius: 0 0 10px 10px;

}

.error {
    margin: 20px;
    padding: 15px;

    font-family: 'Merriweather Sans', sans-serif;

    font-size: 25px;
    border-radius: 5px;

    color: white;

    border: #ff5f69;
    background-color: rgba(249, 15, 14, 0.23);

    box-shadow: lightgray 2px 2px 3px;
    text-shadow: lightgray 2px 2px 3px inset;
}
