{% extends "main.html" %}

{% block title %}Cart{% endblock %}

{% block content %}
    <div class="big-card">
        {% if cart.has_items %}
            <table>
                {% for item in cart.items.all %}
                    <tr>
                        <td>
                            {{ item.name }}
                        </td>
                        <td>
                            {{ item.price }} руб.
                        </td>
                        <td>
                            <form method="POST"
                                action="{% url 'remove-car-from-cart' item.id %}">
                                {% csrf_token %}
                                <input class="cancel" type="submit" value="x">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                {{ cart.price }}
            </div>
        {% else %}
            Ваша корзина пуста
        {% endif %}
    </div>
{% endblock %}