{% extends "main.html" %}

{% block title %}{{ car.name }}{% endblock %}

{% block content %}
    <div class="big-card" style="padding: 25px;">

        <h1>{{ car.name }}</h1>
        <img src="{{ car.picture.url }}">
        <div class="desc">
            {{ car.description }}
        </div>
        <h3>{{ car.price | floatformat }}$</h3>
        <table>
            <tr>
                <td>Пробег</td>
                <td>{{ car.mileage | floatformat }} км</td>
            </tr>
            <tr>
                <td>Тип топлива</td>
                <td>{{ car.fuel_type | title }}</td>
            </tr>
            <tr>
                <td>Объём двигателя</td>
                <td>{{ car.engine_volume }} cm<sup>3</sup></td>
            </tr>

        </table>
    </div>
{% endblock %}