{% extends "main.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="big-card">
        <form method="POST" action="/accounts/login/">
            {% csrf_token %}
            {% if error %}
                <div style="color:#ff7f61; background-color: #f3b6cf; border: 2px solid red;">Something went wrong</div>
            {% endif %}
            <label>
                Username
                <input name="username" type="text">
            </label>
            <label>
                Password
                <input name="password" type="password">
            </label>
            <input type="submit">
        </form>
    </div>
{% endblock %}