{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Cars{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Merriweather+Sans|Pacifico&display=swap" rel="stylesheet">
    <link href="{% static 'shop/main.css' %}" rel="stylesheet" type="text/css"></link>
  </head>
  <body>
    {% include 'common/header.html' with cart=cart %}
    <div id="app">
      {% block content %}
          <form method="GET" action="/search">
            <input name="q" id="search-field" placeholder="Search" type="text">
          </form>
          <div class="cards">
            {% for car in cars %}
                {% include 'common/card.html' %}
            {% endfor %}
          </div>
       {% endblock %}
    </div>
    <footer class="footer">
      Contact
    </footer>
  </body>
</html>
